/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/



.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #fff1f7;
  --intro-text-color: #353430;
  --background-image: top center url(../images/cover-image-light.png) fixed no-repeat;
  --text-color: var(--intro-text-color);
  --main-headline-color: #FFC2E6;
  --headline-h2-color: var(--intro-text-color);
  --accent-color: #ff8dcb;
  background-color: var(--background-color);
  --rec-visible: none;
  --main-headline-shadow: var(--accent-color);
  --rec-width: 25px;
  --header__rec-text-width: 0;
  --focus-element-border: var(--text-color);
  --menu-button-active: var(--text-color);
  --menu-button-text-color: var(--text-color);
  --menu-button-hover-color: #ada4a6;
  --link-shadow-color: var(--accent-color);
  @media only screen and (min-width: 1024px) {
    --main-headline-shadow: #FF0070;
  }
}