/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: IBM Plex Mono;
  background: var(--background-image);
  background-size: cover;
  background-color: var(--background-color);
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}

.headline-typography {
  font-size: 116px;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

h1 {
  color: var(--main-headline-color);
  text-shadow: 4px 4px 0px var(--main-headline-shadow);
  margin-bottom: 55px;
}

.main__headlines-font-size-font-weight-line-height {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

h2 {
  color: var(--headline-h2-color);
  margin-bottom: 20px;
}

h3,
.main__images-container h2 {
  color: var(--headline-h3-color);
  background: var(--accent-color);
  margin-bottom: 10px
}

h4.main__headlines-font-size-font-weight-line-height {
  background: var(--accent-color);
  color: var(--headline-h4-color);
  font-weight: 400;
  margin: 20px 0 10px 0;
}

.main__accent-link {
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--link-shadow-color);
}

.main__accent-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.main__accent-link:focus {
  outline: 0;
}

.main__accent-link:focus-visible {
  border: 1px solid var(--text-color);
}

.header {
  position: relative;
  padding: 10px;
  display: grid;
  margin: 0 0 40px 0;
  min-height: 100vh;
}

.header__rec {
  position: absolute;
  inset-inline-start: calc(100% - (var(--rec-width) + 10px));
  inset-block-start: 10px;
  display: grid;
  grid-template-columns: var(--header__rec-text-width) 25px;
  font-size: 18px;
  color: var(--accent-color);
}

.header__rec-text {
  display: var(--rec-visible);
  text-transform: uppercase;
}

.header__rec-bulb {
  display: grid;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--focus-element-border);
  border-right: 1px solid var(--focus-element-border);
}

.header__rec-bulb-dot {
  display: var(--rec-visible);
  font-size: 48px;
  line-height: 0;
  filter: blur(1.2px);
  margin: 8px 0 0 -2px;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  margin: 66.5px 0;
}

.header__theme-menu-button {
  padding: 1px 15px 4px 15px;
  font-size: 18px;
  color: var(--menu-button-text-color);
  font-weight: 400;
  line-height: 18px; /* 100% */
  background: none;
  border: 0;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-hover-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-element-border);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-button-active);
  pointer-events: none;
}

.header__theme-menu-item {
  margin: 0 0 13px 0;
}

.header__theme-menu-item:last-child {
  margin: 0;
}

.header__intro-text {
  background: var(--accent-color);
  color: var(--intro-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-bottom: 31px;
}

.header__left-bottom-corner-focus {
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--focus-element-border);
  border-bottom: 1px solid var(--focus-element-border);
}

.main__text-block {
  padding: 0 10px;
  margin: 0 0 50px 0;
}

.main__text-block p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-bottom: 20px;
}

.main__images-container {
  margin: 50px 0 40px 0;
  padding: 0 10px;
}

.footer {
  display: grid;
  align-content: space-between;
  min-height: 100vh;
  padding: 10px;
}

.footer__top-right-corner-focus {
  justify-self: end;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--focus-element-border);
  border-right: 1px solid var(--focus-element-border);
}

.footer h2 {
  margin: auto;
  color: var(--main-headline-color);
  text-shadow: 2px 2px 0px var(--main-headline-shadow);
}

.footer__bottom-left-corner-focus {
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--focus-element-border);
  border-left: 1px solid var(--focus-element-border);
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 20px;
    margin: 0 0 60px 0;
  }

  .header__rec {
    inset-inline-start: calc(100% - (var(--rec-width) + 20px));
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin: 173.5px 0 174.5px 0;
  }

  .headline-typography {
    font-size: 120px;
  }

  h1 {
    margin: 0 0 162px -20px;
  }

  .header__intro-text {
    justify-self: end;
    width: 364px;
    margin: 0 0 138px 0;
  }
  
  .main__text-block {
    padding: 0 20px;
    margin: 0 0 60px 0
  }

  .main__text-block_two-columns {
    display: grid;
    grid-template-columns: 236px 2fr;
    column-gap:  20px;
  }

  .main__text-block_three-columns {
    margin: 0 0 80px 0;
  }

  .main__text-block_three-columns h2 {
    width: 236px;
  }

  .main__images-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 192px 230px 318px;
    grid-template-areas:
    "main__images-container-h2 main__images-container-h2 main__images-container-h2"
    "main__image-sunset main__image-sunset main__image-ice-cream"
    "main__image-tape main__image-books main__image-ice-cream"
    "main__image-tape main__image-street main__image-street";
    margin: 0 0 60px 0;
    padding: 0 20px;
  }

  .main__images-container img {
    object-fit: cover;
    height: 100%;
  }

  .main__images-container h2 {
    grid-area: main__images-container-h2;
    margin-bottom: 0;
  }
  
  .main__image-sunset {
    grid-area: main__image-sunset;
  }

  .main__image-ice-cream {
    grid-area: main__image-ice-cream;
  }

  .main__image-tape {
    grid-area: main__image-tape;
  }

  .main__image-books {
    grid-area: main__image-books;
  }

  .main__image-street {
    grid-area: main__image-street;
  }

  .footer {
    padding: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .headline-typography {
    font-size: 157px;
  }
  
  h1 {
    margin-bottom: 114px;
  }
  
  .header__intro-text {
    width: 491px;
    margin-bottom: 89px;
  }
  
  .decorated-zone {
    display: grid;
  }

  .header__theme-menu {
    justify-content: center;
    margin: 0 0 273px 0;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0;
    column-gap: 7px;
  }

  .header__theme-menu-item {
    margin: 0;
  }

  .main__text-block_two-columns {
    grid-template-columns: 315px 2fr;
  }

  .main__text-block_three-columns {
    margin: 0 0 60px 0;
  }

  .main__text-block_three-columns h2 {
    width: 315px;
  }

  .main__column-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .main__images-container {
    grid-template-rows: auto 260px 315px 433px;
  }
}